<!DOCTYPE html>
<html>
    <head></head>
    
    <body>
        
        <p>You have a new message from 
        <%= "#{ @name }, #{ @email }." %></p>
        
        <p> <%= @body %></p>
    </body>
</html>