<!DOCTYPE html>
<html>
    <head></head>
    
    <body>
        
        <h6>You have a new message from </h5>
        <p><%= "#{ @name }"%></p>
        <p><%= " #{ @email }" %></p>
        
        <p> <%= @body %></p>
    </body>
</html>